<div id="contentb"> 
	PRIVATE VIEW <br> <br>	
	Hello <%= user %>  !
</div>


<br><br>

<a href="../logout"> >> Logout if you want see the public page << </a> <br>
<a href="../home/poke"> >> If you want poke the server with websocket << </a>