<div id="content"> 

	PUBLIC VIEW 

<br> <br>	

	<div id= "who"> 
		Hello Visitor !
	</div>

</div>


<br><br>

<a href="../signup"> >>  Create account << </a> <br>
<a href="../login"> >> Log if you want see the private page << </a> <br>
<a href="../home/poke"> >> If you want poke the server with websocket << </a>